@import '../../../../themes/';

.search {
  width: 100%;
  height: 48px;
  background: $color-accent;
  border-radius: calc(48px / 5);
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  transition: $nav-transition;

  &:hover {
    background: $color-accent-hover;
  }
  &.focus {
    background: $color-accent-active;
  }

  .tags {
    display: grid;
    grid-column-gap: 0.5rem;
    grid-auto-flow: column;
    padding-left: 1rem;
    padding-right: 1rem;
    border-left: 1px solid $color-secondary;

    span {
      background: $color-primary;
      color: $color-secondary;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      padding-top: 6px;
      padding-bottom: 6px;
      border-radius: calc((14px+6px+6px) / 5);
      cursor: pointer;
      animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      transition: $nav-transition;

      &:hover {
        background: $color-primary-hover;
      }
      &:active {
        background: $color-primary-active;
      }

      strong {
        margin-left: 0.5rem;
        color: $color-secondary;
        background: none;
      }
    }
  }

  .inputContainer {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    svg {
      width: 16px;
      height: 16px;
      margin-left: 1rem;
      margin-right: 1rem;
    }

    input {
      width: 100%;
      height: 100%;
      border: none;
      padding-left: 4px;
      padding-right: 4rem;
      border-radius: calc((14px+4px+4px) / 5);
      background: none;
      font-size: 20px;
      color: $color-secondary;
    }

    input::placeholder {
      color: rgba($color-secondary, 0.3);
    }

    button {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      color: rgba($color-secondary, 0.5);
      cursor: pointer;

      &:hover {
        color: $color-secondary;
      }
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
